body{
    display: flex;
    margin: 0%;

}
.top{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.box {
    display: flex;
    flex-direction: row;
   
}
.upper-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8;
}
.upper-secondary {
    font-size: 18px;
    color: #e5e7eb;
}
.header {
    display: flex;
    justify-content: space-around;
    height: 20px;
    flex-direction: row;
    gap: 50%;
}
.links{
    display: inline-flex;
    text-decoration: none;
    gap: 20px;
    justify-self: flex-end;
    
}
a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
.sign-up{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10%;
    border-color: #3882f6;


}
.top-image {
    background-color: grey;
    width: auto;
    height: auto;
    align-self: center;
    margin-right: 40px;
}
.top-texts{
    padding-right: 30px;
}



